<div class="container mt-5">
  <div class="text-center mb-2">
    <h1 class="display-4">Bienvenido, <%= @user.name || @user.email %></h1>
  </div>

  <div class="text-center mb-6">
    <div class="mb-4 custom-card card-rectangle" style="background-image: url('/path/to/goals.jpg');">
      <div class="card-body">
        <h5 class="card-title text-dark"><i class="fa-regular fa-map"></i> Dashboard </h5>
        <div class="text-center mt-4">
          <a href="<%= home_path %>" class="btn btn-success btn-lg"> Dashboard</a>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-4 custom-card card-rectangle" style="background-image: url('/path/to/goals.jpg');">
    <div class="card-body">
      <h5 class="card-title text-dark"><i class="fas fa-bullseye"></i> Tus Objetivos</h5>
      <a href="<%= goals_path %>" class="btn btn-primary btn-sm">Gestionar Objetivos</a>
    </div>
  </div>
  <div class="mb-4 custom-card card-rectangle" style="background-image: url('/path/to/accounts.jpg');">
    <div class="card-body">
      <h5 class="card-title text-dark"><i class="fas fa-wallet"></i> Tus Cuentas</h5>
      <a href="<%= accounts_path %>" class="btn btn-primary btn-sm">Gestionar Cuentas</a>
    </div>
  </div>
</div>
