<div class="container mt-5">
  <div class="text-center mb-4">
    <h1 class="display-4">Bienvenido a Finsan</h1>
    <p class="lead">Registra tus movimientos financieros de forma fácil y segura.</p>
  </div>

  <div class="text-center">
    <p class="mb-3">¿Listo para empezar?</p>
    <a href="/users/sign_in" class="btn btn-primary btn-lg mb-2">Iniciar Sesión</a>
    <a href="/users/sign_up" class="btn btn-outline-primary btn-lg">Crear Cuenta</a>
  </div>


  <div class="mt-5 text-center">
    <img src="https://kalmy.mx/wp-content/uploads/2022/03/conferencia-finanzas-paraninfo-sgo-medium-size.jpg" alt="Gestión financiera simplificada" class="img-fluid rounded shadow" style="width: 600px; height: auto;">
  </div>
</div>
