
   <div class="text-center mb-4">
     <h1 class="display-4">Tus objetivos! 😎</h1>
     <p class="lead"></p>
   </div>
<%= link_to content_tag(:i, "", class: "fa-solid fa-arrow-left"), login_path(@account), class: "btn btn-primary btn-sm" %>
   <div class="row">
    <%@goals.each do |g|%>

       <div class="col-md-2 ">
      <div class="card text-center">
        <div class="card-body m-2">
          <h5 class="card-title"><%=g.title%></h5>
          <h3 class="text-success"></h3>
          <%= link_to "Ver mas", goal_path(g), class: "btn btn-primary btn-sm"  %>
          <%= link_to "Editar", edit_goal_path(g), class: "btn btn-secondary btn-sm"  %>

        </div>
      </div>
    </div>
    <%end%>

  </div>
